extends layout
block content
    section#category 
     a.button.btn.btn-secondary(href="/admin") ADMIN PANEL 
     hr    
     a.button.btn.btn-secondary(href="/create") Create New Category
     .content-section-a

         .prod-container
             each row in res1
              .item 
                h1.category #{row.category_name}
                p.itemp #{row.category_descr}
                img.pimage(src="#{row.category_image}", alt="#{row.category_image}")
                br
                br

               a.button.btn.btn-light(href="/category/#{row.Id}") Show Category #{row.category_name}
               a.button.btn.btn-light(href="/editcategory/#{row.Id}") Edit Category
               a.button.btn.btn-light(href="/deletecategory/#{row.Id}") Delete Category
               
               
               
               