extends layout
block content
    .row
     h1 
     .formHold
        h1 Checkout
         if session.cart.totalItems
          .cart.page
            ul.list-group
              each item in cart
                li.list-group-item.clearfix
                  .col-xs-5
                    strong #{item.item}
                     p product #{item.name}
                  .col-xs-2.text-right #{quantityincart=1} 
                  .col-xs-3.text-right
                    | #{item.price}  EUR
                  .col-xs-2.text-right
                    a(href='/removefromcart/#{x.ProductId}*#{x.CartId}')
                     button.button(type='button') Remove
          .text-right
            strong Total: #{session.cart.cartTotal} EUR
            a.btn.btn-primary(ng-click='checkout()') Checkout
          hr
          .text-right
          p Pay by Paypal

            form(action='https://www.paypal.com/cgi-bin/webscr', method='post')
              input(type='hidden', name='business', value='dnevedomska29@gmail.com')
              input(type='hidden', name='cmd', value='_xclick')
              input(type='hidden', name='item_name', value='Order')
              input(type='hidden', name='undefined_quantity', value='1')
              input(type='hidden', name='amount', value='#{session.cart.totalPrice}')
              input(type='hidden', name='amount', value='50.00')
              input(type='hidden', name='currency_code', value='EUR')
              input(type='image', name='submit', border='0', src='https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif', alt='Buy Now')
              img(alt='', border='0', width='1', height='1', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif')
              input(type='hidden', name='return', value='https://000f6e09dec140bca863c66689e56772.vfs.cloud9.eu-west-1.amazonaws.com/confirmation')
         else
          h2 Your shopping cart is empty
