extends layout
block content
    .container
     .row
      .col-md-10.col-md-offset-5
           each row in res1
              .item 
                h1.legend.text-center Categories
                br
                h6 Id: #{row.Id}
                h2  #{row.category_name} 
                img.pimage2(src='../../#{row.category_image}', alt='#{row.category_image}')
                p  #{row.category_descr}


                br


