script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.2/css/all.css', integrity='sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns', crossorigin='anonymous')
link(rel='stylesheet', href='../style.css', type='text/css')
link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
extends layout
block content
 .header
  .container
    
       center
         h2 Products
  .header
   section#home
         hr
         .rows
           .col-sm-12
             p.lead
               | some text
          
               | some text
              

               .category-container
                 each row in res1
                  .item
                    h1.category #{row.Id}
                    h1.category #{row.category_name}
                    p.itemp #{row.category_descr}
                    img.pimage(src="#{row.category_image}", alt="#{row.category_image}")
                    br
                    br


                   a.button.btn.btn-light(href="/category/#{row.Id}") Show Category #{row.category_name}
                   a.button.btn.btn-light(href="/editcategory/#{row.Id}") Edit Category
                   a.button.btn.btn-light(href="/deletecategory/#{row.Id}") Delete Category
              
              a.button.btn.btn-secondary(href="/create") Create New Category
               
        section#products 
         a.button.btn.btn-secondary(href="/createproduct") Create New Product

  