extends layout
block content
   section#products 
    a.button.btn.btn-secondary(href="/createproduct") Create New Product
    .content-section-a

         .prod-container
           each row in res1
              .item 
                p.product1 Product Id: #{row.ProductId}         
                h1.product #{row.productname}
                h4.itemp Category: #{row.category_name}
                img.pimage(src="#{row.productimage}", alt="#{row.productimage}")
                h2.price Price: &euro;#{row.price}

                br
                br
               

               a.button.btn.btn-light(href="/product/#{row.ProductId}") View #{row.productname}

              br
              hr
 