extends layout
block content
    .container
     .row
      .formstyle

      .grid-container
           each row in res1
              .item 
                br
                img.pimage2(src='../../#{row.productimage}', alt='#{row.productimage}')

                h2.product #{row.productname}
                p.product1 Product Id: #{row.ProductId}   
                h4.product1 Category: #{row.category_name}
                h2.product &euro;#{row.price}
                h5.itemp Description: #{row.productdescr}

                br
               a.button.btn.btn-secondary(href="/add/#{row.ProductId}") Add to cart

    
              a.button.btn.btn-secondary(href="/reviews") View Product Reviews
              a.button.btn.btn-secondary(href="/addreview") Add Product Review


              if row.Quantity>0
              a(href='addtocart/#{row.ProductId}*#{row.Price}*#{row.productname}')
              button.button(type='button')
              i.fa.fa-shopping-cart(aria-hidden='true')   Add to cart


          if(cart_data && cart_data.length > 0)
            div(class='cart')
                div(class='cart-top') Cart
                each cart_item in cart_data
                    div(class='cart-item')
                        span=cart_item.name
                        span=cart[cart_item.id]
                        - var value=(Math.round((cart[cart_item.id] * cart_item.price) * 100) / 100)
                        - total = (total || 0) + value;
                        span=currency + value
                div(class='cart-bottom')
                    a.button.btn.btn-secondary(class='button', href='/clear') Clear
                    a.button.btn.btn-secondary(class='button', href='/checkout') Checkout
                    b Total : #{currency + total}      


